@font-face {
  font-family: 'FZFWZhuZGDLMCJW';
  src: url('../fonts/FZFWZhuZGDLMCJW.woff') format('woff'); /* Safari, Android, iOS */
}

.header-title {
  font-family: 'FZFWZhuZGDLMCJW', serif;
}

h1 {
  font-family: 'Noto Sans SC', sans-serif;
}

body {
  font-family: 'Noto Serif SC', serif;
}

.post-author {
  font-family: 'FZFWZhuZGDLMCJW', serif;
}

.posts-date {
  font-family: 'Fira Code', monospace;
}

.post-date {
  font-family: 'Fira Code', monospace;
}

.site-date-catalog {
  font-family: 'Fira Code', monospace;
}

.header-items {
  font-family: 'Fira Code', monospace;
}

code {
  font-family: 'Fira Code', monospace;
}

.markdown-body pre>code {
  background-color: #f6f8fa;
  border-left: 3px solid #ffd772;
  page-break-inside: avoid;
  max-width: 100%;
  overflow: auto;
  padding: 0.5em 1em;
  display: block;
  word-wrap: break-word;
  width: 90%;
}
