@font-face {
  font-family: 'FZFWZhuZGDLMCJW';
  src: url('../fonts/FZFWZhuZGDLMCJW.woff') format('woff'); /* Safari, Android, iOS */
}

.logo {
  font-family: 'FZFWZhuZGDLMCJW', serif;
}


